doctype html
html
  head
    title="RPi-Travels"
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="shortcut icon" type="image/png" href="/img/rpi-travels.png")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="http://code.jquery.com/jquery-1.9.0.min.js")
  
  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div(class="navbar-inner")
        div(class="container")

          a(class="brand" href="/")
            img(src="/img/rpi-travels.png" style="width: 28px;")
            span RPi Travels
          div(id="menu", class="pull-right")
            input(type="text", id="search-input")
            button(class="btn btn-success btn-small valign-top", id="search-button") Chercher


  
    div(id="map-canvas")

    script(src="/js/travels.js")
    script(src="/js/search-position.js")
    script.
      var theApp = new App('map-canvas');
      var searchPosition = new SearchComponent('search-input', 'search-button', theApp.onSearchResult);

