html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

input[type=text] {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	margin-right: 5px !important;

	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.valign-top {
	vertical-align: top !important;
}
